In [7]:
import os
import pandas as ps
pd.set_option('display.max_rows', 300)

In [3]:
filename = os.path.join('data', 'owid-covid-data.xlsx')
print(filename)

data\owid-covid-data.xlsx

In [4]:
df = pd.read_excel(filename, engine='openpyxl', index_col="date", parse_dates=True)

In [22]:
df.continent.unique().tolist()

['Asia', nan, 'Europe', 'Africa', 'North America', 'South America', 'Oceania']

In [25]:
df[~df.location.isin(['World', 'European Union'] + df.continent.unique().tolist())].groupby('location')['total_cases'].agg('max').sort_values(ascending=False).nlargest(30).reset_index()

          location  total_cases
0    United States   29667305.0
1           Brazil   11780820.0
2            India   11514331.0
3           Russia    4378656.0
4   United Kingdom    4294328.0
5           France    4241973.0
6            Italy    3306711.0
7            Spain    3212332.0
8           Turkey    2950603.0
9          Germany    2639258.0
10        Colombia    2319293.0
11       Argentina    2226753.0
12          Mexico    2182188.0
13          Poland    1984248.0
14            Iran    1778645.0
15         Ukraine    1553659.0
16    South Africa    1533961.0
17       Indonesia    1443853.0
18         Czechia    1439019.0
19            Peru    1435598.0
20     Netherlands    1196045.0
21          Canada     928283.0
22           Chile     911469.0
23         Romania     881159.0
24          Israel     825562.0
25         Belgium     822801.0
26        Portugal     816055.0
27            Iraq     779458.0
28          Sweden     738537.0
29     Philippines     640984.0